/* styles.css or tailwind base layer */
@import "tailwindcss";

:root {
  --uni: #F1F1F1;
  --bi: #FFFFFF;
  --tri: #000000;
  --quad: #0223CC;
}

.dark {
  --uni: #111317;
  --bi: #1E1F29;
  --tri: #FFFFFF;
  --quad: #0223CC;
}
