/* styles.css or tailwind base layer */
@import "tailwindcss";

:root {
  --uni: #F1F1F1;
  --bi: #FFFFFF;
  --tri: #000000;
<<<<<<< HEAD
  --tri-light: #3d3d3d;
  --quad: #0223CC;
  --quad-dark: #021A99;
=======
  --quad: #0223CC;
>>>>>>> e3def797fc9c3fde80c488c5233ca0597f5fbfa4
}

.dark {
  --uni: #111317;
  --bi: #1E1F29;
  --tri: #FFFFFF;
<<<<<<< HEAD
  --tri-light: #c2c2c2;
  --quad: #0223CC;
  --quad-dark: #021A99;
=======
  --quad: #0223CC;
>>>>>>> e3def797fc9c3fde80c488c5233ca0597f5fbfa4
}
